.container {
  background-color: #D5EDF8;
  background-position:right top;
  background-repeat:no-repeat;
  border:3px solid #000000;
  color:#000000;
  min-height:55em;
  margin-top:20px;
  width:1250px;
  height: 95%
}



#facebook_b {
  float:right;
  margin-top: 50px;  
}

#status_bar {
  background-color: #CCCCCC;
  border: 0.1em solid #dcdce9;
  display: block;
  line-height: 2em;
  color: #0d2474;
  height: 2em;
  text-decoration: none;
  text-align: center;
}

#status_bar ul {
  list-style: none;
  
}

#status_bar li {
  float: left;
  margin: 0 0.45em; 
}


#status_bar .left_side {
  float: left;
  margin-left: 5px;
}

#status_bar .right_side {
  float: right;
  margin-right: 5px;
}

#logo {
  float: left;
  margin-left:5px;
  margin-bottom: 5px;
}

#logo img {

  display: block;
}

#tab_menu {
  clear: both;
}

#tab_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
#tab_menu li {
    float: left;
    padding: 0;
    margin: 0;
    padding-top: 0;
    background: url(../images/tab_right.png) no-repeat right top;
    margin-right: 1px;
}
#tab_menu a {
    display: block;
    padding: 0px 10px;
    color: #fff;
    text-decoration: none;
    background: url(../images/tab_left.png) no-repeat left top;
    font-size: medium;
}
#tab_menu a:hover {
    color: #ff0;
}

#tab_menu_line {
  background:none repeat scroll 0 #3864BD;
  border-top:1px solid #FFFFFF;
  clear:both;
  height:8px;
  line-height:8px;
  padding:0;
  width:100%;
}


  
#menu_bar {
  width: 15%;
  border-style: solid solid none solid;
  border-color: #0e69be;
  border-size: 1px;
  border-width: 1px;
  float: left;
}

#menu_bar ul {
  list-style:none;
  margin:0px;
  padding:0px;
}

  
#menu_bar li a {
  height: 32px;
    voice-family: "\"}\""; 
    voice-family: inherit;
    height: 24px;
  text-decoration: none;
  } 
  
#menu_bar li a:link, #menu_bar li a:visited {
  color: #ffffff;
  display: block;
  background: url(../images/menubutton.jpg);
  background-repeat:no-repeat;
  padding: 8px 0 0 10px;
  }
  
#menu_bar li a:hover {
  color: #ffffff;
  background: url(../images/menubutton.jpg) 0 -32px;
  background-repeat:no-repeat;
  padding: 8px 0 0 10px;
  }
  
#menu_bar li a:active {
  color: #0e69be;
  background: url(../images/menubutton.jpg) 0 -64px;
  background-repeat:no-repeat;
  padding: 8px 0 0 10px;
  }

#contents_zone {
  background-color: #C2E1EF;
  width: 1050px;
  float: left;
}

#footer {
  background-color: #0D2474;
  width: 95%;
}


#footer ul {
  list-style: none;
  
}

#footer li {
  float: left;
  margin: 0 0.45em; 
}

.wrapper{
   position: relative;
   float: left;
   left: 70px;
   width: 1050px;
   margin-bottom: 10px;
   background-color: #cccccc
}
.left1{
   position: relative;
   float: left;
   left: 5px;
   width: 165px;
   height: 165px;
   background-color: #828282
}
.left2{
   position: relative;
   float: left;
   left: 15px;
   width: 165px;
   height: 165px;
   background-color: #828282
}
.left3{
   position: relative;
   float: left;
   left: 25px;
   width: 165px;
   height: 165px;
   background-color: #828282
}
.left4{
   position: relative;
   float: left;
   left: 35px;
   width: 165px;
   height: 165px;
   background-color: #828282
}
.left5{
   position: relative;
   float: left;
   left: 45px;
   width: 165px;
   height: 165px;
   background-color: #828282
}
.left6{
   position: relative;
   float: left;
   left: 55px;
   width: 165px;
   height: 165px;
   background-color: #828282
}

.img_box {
  margin-left: 20px;
  margin-top: 20px;
}

.co_edit_link {
  width:auto;
  float:left
}

.co_name {
  width:66%;
  float:left;
  text-align: center;
  
}
.co_delete_link {
  width:auto;
  float:right
}

